.body{
  overflow-y: scroll;
}

.CarouselContainer {
  padding-top: 80px;
}

.CarouselContainer .slides{
  padding-top: 80px;
  background-color: #e8f1ff;
  padding-bottom: 80px;
}

.CarouselContainer .slides .contents-text{
  margin-left: 20vh;
  text-align: left;
}

.CarouselContainer .slides .contents-text2 {
  margin-left: 20vh;
  text-align: left;
  color: white;
}

.CarouselContainer .slides .contents-text3 {
  margin-left: 20vh;
  text-align: left;
  color: white;
}

.CarouselContainer .slides .contents-text > button {
  background: rgb(0,172,238);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  z-index: 3;
  border-radius: 20px;
}

.CarouselContainer .slides .contents-text2 > button {
  background: black;
  color: white;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  z-index: 3;
  border-radius: 20px;
}

.CarouselContainer .slides .contents-text3 > button {
  background: rgb(255,115,123);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  z-index: 3;
  border-radius: 20px;
}