.problem {
    position:absolute;
    top:12%;
    left:20%;
    right:50%;
    bottom:50%;
    width: 30%;
    height: 40%;
    border-radius: 40px;
    border: 2px solid;
    color: black;
}

.problemText {
    position:absolute;
    top:9%;
    left:0%;
    right:50%;
    bottom:50%;
    font-size: larger;
    font-weight: 800;
}

.nuriCode {
    position:absolute;
    top:12%;
    left:28%;
    right:0%;
    bottom:50%;
    width: 30%;
    height: 40%;
    border-radius: 40px;
    border: 2px solid;
    color: black;
}

.nuriCodeText {
    position:absolute;
    top:9%;
    left:53%;
    bottom:50%;
    font-size: larger;
    font-weight: 800;
}


.javaCode {
    position:absolute;
    top:56%;
    left:20%;
    right:0%;
    bottom:0;
    width: 30%;
    height: 40%;
    border-radius: 40px;
    border: 2px solid;
    color: black;
}

.javaCodeText {
    position:absolute;
    top:53%;
    left:-1%;
    right:50%;
    bottom:50%;
    font-size: larger;
    font-weight: 800;
}

.result {
    position:absolute;
    top:56%;
    left:52%;
    right:0;
    bottom:0;
    width: 30%;
    height: 40%;
    border-radius: 40px;
    border: 2px solid;
    color: black;
}

.restText {
    position:absolute;
    top:53%;
    left:53%;
    bottom:50%;
    font-size: larger;
    font-weight: 800;
}

.firstText{
    padding-left: 4%;
    padding-top: 8%;
    font-size: large;
}
.text{
    padding-left: 4%;
    font-size: large;
}