@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.landingBackground{
  background-image: url("../../../public/assets/korBack.jpg");
  height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  background: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.2) 50%,
      rgba(20, 20, 20, 0.7) 80%,
      rgba(20, 20, 20, 1)
    ),
}

.landingAnimation{
    display: inline-block;
    margin-bottom: 1em;
    padding: 2em 1em 1em 1em;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: 'KyoboHandwriting2020A';
    margin-top: 20vh;
    /* background-image: url("../../../public/assets/korBack.jpg"); */

}